.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--pico-typography-spacing-vertical);

    > hgroup {
        margin-bottom: 0;
    }
}

header > hgroup {
    margin-bottom: 0;
}

.center {
    text-align: center;
}

table {
    > tbody {
        > tr {
            > td {
                > img {
                    max-width: 100px;
                    max-height: 100px;
                    aspect-ratio: 1;
                    object-fit: cover;
                }

                > button {
                    > img {
                        max-width: 20px;
                        max-height: 20px;
                        aspect-ratio: 1;
                        fill: #6cb633;
                        filter: invert(1);
                    }
                }
            }
        }
    }
}

#product-form-cancel {
    width: 100%;
    margin-block: calc(var(--pico-form-element-spacing-vertical) / 2);
}

button.edit {
    margin-bottom: calc(var(--pico-form-element-spacing-vertical) / 2);
}

button.delete {
    margin-bottom: 0;
}
